<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keyboardswitcher">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.Material3.DayNight">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service 
            android:name=".SwitchKeyboardService" 
            android:permission="android.permission.BIND_INPUT_METHOD" 
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

        <receiver android:name=".NotificationPickerReceiver" android:exported="false" />

    </application>
</manifest>
